<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Conundrum</title>
    <!--External CSS-->
    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <!--google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:300,300i,400,700,700i" rel="stylesheet">
    <!--App CSS-->
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
    <link rel="stylesheet" href="/styles/navbar.css" type="text/css" />
    <link rel="stylesheet" href="/styles/new-conundrum.css" type="text/css" />
    <!--External JS-->
    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/voteApp.js"></script>
        <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
  <body>
    <%- include('partials/navbar') %>
    <section id="voteSection">
      <p class="voteTitle"><%= poll.title %></p>
      <p><strong>Description: </strong></p>
      <p class="voteDescription"><%= poll.description %></p>
      <form id="voteForm" method="POST" action="/vote/:id">
        <label for="voteName">Enter your Name:</label>
        <input id="voteName" type="text" name="voteName" class="voteInput">
        <ol>
          <li class="ranking-target">
            <input type="hidden" name="rankings[1]" value="">
          </li>
          <li class="ranking-target">
            <input type="hidden" name="rankings[2]" value="">
          </li>
          <li class="ranking-target">
            <input type="hidden" name="rankings[3]" value="">
          </li>
          <li class="ranking-target">
            <input type="hidden" name="rankings[4]" value="">
          </li>
        </ol>
        <ul>
          <% options.forEach(function(value, index) { %>
            <li data-id="<%= value.option.id %>"><div draggable="true" data-id="<%= value.option.id %>" class="option-target"><%= value.option.description %></div></li>
          <% }) %>
        </ul>
        <button type="submit" value="Submit">Submit</button>
        <button id="reset" type="reset" value="Reset">Refresh</button>
      </form>
    </section>
    <%- include('partials/footer') %>
    <script>
      var dragged;
      document.addEventListener('dragstart', event => {
        dragged = event.target;
      }, false);
      document.addEventListener('dragenter', event => {
        event.preventDefault();
      });
      document.addEventListener('dragover', event => {
        event.preventDefault();
      });
      document.addEventListener('drop', event => {
        if (event.target.classList.contains('ranking-target')) {
          console.log("hello")
          //dragged.parentNode.removeChild(dragged);
          event.target.appendChild(dragged);
          event.target.querySelector('input').value = dragged.dataset['id'];
        }
        if (!event.target.classList.contains('option-target')) {
          console.log("hello")
          //dragged.parentNode.removeChild(dragged);
          event.target.appendChild(dragged);
        }
      });
    </script>
  </body>
</html>